h1{
    background-color: #ff6f68;
    padding-bottom:20px;
    color:white;
    
}
h4{
    text-align:center;
}
h5{
    text-align:center;
}
#search{
    width: 25px;
    height: 25px;
}
#moreinfo{
    width: 20px;
    height: 20px;
}
#type_one{
    background-color:green;
    color:white;
}
#accordion{
    color:#ff6f68;
}
.pokemon_type_single{
    color:azure;
    margin-left: 40%;
    padding: 5px;
    border-radius:6px;
    border: none;
}
.pokemon_type_dual{
    color:azure;
    margin-left: 12%;
    margin-right: 12%;
    padding: 5px;
    border-radius:6px;
    border: none;
}
#Normal{
    background-color:#BEBEBE;
}
#Flying{
    background-color:#9867C5;
}
#Poison{
    background-color:#710193;
}
#Ground{
    background-color:#D8B863;
}
#Rock{
    background-color:#795C34;
}
#Bug{
    background-color:#98BF64;
}
#Ghost{
    background-color:#734F96;
}
#Steel{
    background-color:#957A81;
}
#Fire{
    background-color: #FC6A03;
}
#Water{
    background-color: #63C5DA;
}
#Grass{
    background-color: #74B72E;
}
#Electric{
    background-color: #FFD801;
}
#Psychic{
    background-color:#FE7F9C;
}
#Ice{
    background-color:#82EEFD;
}
#Dragon{
    background-color:#8F00FF;
}
#Dark{
    background-color:#2E1503;
}
#Fairy{
    background-color:#FCBACB;
}


.disclamer{
    font-size:10px;
    color:gray;
}
#sprite{
    width:240px;
    height:240px;
}
