/** General Section**/
h1{
    background-color: #D21F3C;
    color:#F7F5EE;  
}
button{
    color:azure;
    padding: 5px;
    border-radius:6px;
    border: none;
}
.label{
    text-align:center;
}
/** Search Section**/
#search_pokemon{
    width:28%;
    border-radius:6px;
}
#search_icon{
    width: 25px;
    height: 25px;
}
.box{
    background-color:white;
    border-style:solid;
    border-color:gray;
    border-radius:6px; 
}
/**Sprite & Type**/
#sprite{
    width:240px;
    height:240px;
}
#pokemon_types{
    overflow:hidden;
    white-space:nowrap;
}
.pokemon_type_single{
    margin-left: 2%;
}
.pokemon_type_dual{
    margin-left: 2%;
    margin-right: 2%;
}
/** Stats and Abilities**/
.stats{
    height:240px;
    width:120px;
}
#more_info_icon{
    width: 20px;
    height: 20px;
}
/**Move**/
#move_desc{
    width:240px;
    text-align:center;
}
#scrollbox {
    overflow: auto;
    height:240px;
    width:120px;
    text-align:center;
}
#divide{
    border-left:gray solid 3px;
    margin-top:-4.25%;
}
#move_info{
    height:240px;
    width:360px;
}
/** Pokemon Types - Look into having one id and having javascript set the color depending on what the type is **/
#Normal{
    background-color:#BEBEBE;
}
#Flying{
    background-color:#9867C5;
}
#Poison{
    background-color:#710193;
}
#Ground{
    background-color:#D8B863;
}
#Rock{
    background-color:#795C34;
}
#Bug{
    background-color:#98BF64;
}
#Ghost{
    background-color:#734F96;
}
#Steel{
    background-color:#957A81;
}
#Fire{
    background-color: #FC6A03;
}
#Water{
    background-color: #63C5DA;
}
#Grass{
    background-color: #74B72E;

}
#Electric{
    background-color: #FFD801;
}
#Psychic{
    background-color:#FE7F9C;
}
#Ice{
    background-color:#82EEFD;
}
#Dragon{
    background-color:#8F00FF;
}
#Dark{
    background-color:#2E1503;
}
#Fairy{
    background-color:#FCBACB;
}
.disclamer{
    font-size:10px;
    color:gray;
}
