h1{
    background-color: #ff6f68;
    padding-bottom:20px;
    color:white;
    
}
h4{
    text-align:center;
}
h5{
    text-align:center;
}
#search{
    width: 25px;
    height: 25px;
}
#moreinfo{
    width: 20px;
    height: 20px;
}
#type_one{
    background-color:green;
    color:white;
}
#accordion{
    color:#ff6f68;
}