h1{
    font-size:100px;
}
#background{
    background-color: #D21F3C;
    color:white;
    text-align:center;
    padding-top:15%;
    padding-bottom:15%;
}
#search_pokemon{
    width:90%;
}
.disclamer{
    font-size:10px;
    color:gray;
}
