/** General Section**/
h1{
    background-color: #D21F3C;
    color:#F7F5EE;
    font-size:270%;
}
#pokemon_name{
    margin-top:-5%;
}
.label{
    text-align:center;
    font-weight:bold;
}
.more_info_icon{
    width: 20px;
    height: 20px;
}
.box{
    background-color:white;
    border-style:solid;
    border-color:#C5C6D0;
    border-radius:5%; 
}
.move_box{
    background-color:white;
    border-style:solid;
    border-color:#C5C6D0;
    width:240px;
    border-radius:5%;
}
/** Search Section**/
#search_pokemon{
    width:26%; 
    border-radius:6px;
}
#search_icon{
    width : 25px; 
    height : 25px;
}
/**Sprite & Type**/
#pokemon_info{
    width : 240px;
}
#sprite{
    width:240px;
    height:240px;
}
.inline{
    display:inline;
    vertical-align:middle;
}
.pokemon_type{
    color:white;
    background-color: gray;
    padding:4px;
    width:30%;
    text-align:center;
    border-radius:5px;
}
#type_info{
    margin-top:5%;
    font-size:11px;
}
/** Stats and Abilities**/
#stats{
    position:relative;
    height:240px;
    width:140px;
}
#abilities{
    width:140px;
}
.ability_names{
    width:400px;
}
.ability_descs{
    font-size:10px;
}
/** Between **/
#divide{
    border-left:gray solid 3px;
    margin-top:-22.50%;
    height:750px;
}
/**Move**/
.scrollbox {
    overflow: auto;
    height:240px;
    width:140px;
    text-align:center;
}
.list{
    border: none;
    background-color:white;
}

/** Pokemon Types - Look into having one id and having javascript set the color depending on what the type is **/
.Normal{
    background-color:#BEBEBE;
}
.Flying{
    background-color:#9867C5;
}
.Poison{
    background-color:#710193;
}
.Ground{
    background-color:#D8B863;
}
.Rock{
    background-color:#795C34;
}
.Bug{
    background-color:#98BF64;
}
.Ghost{
    background-color:#734F96;
}
.Steel{
    background-color:#957A81;
}
.Fire{
    background-color: #FC6A03;
}
.Water{
    background-color: #63C5DA;
}
.Grass{
    background-color: #74B72E;

}
.Electric{
    background-color: #FFD801;
}
.Psychic{
    background-color:#FE7F9C;
}
.Ice{
    background-color:#82EEFD;
}
.Dragon{
    background-color:#8F00FF;
}
.Dark{
    background-color:#2E1503;
}
.Fairy{
    background-color:#FCBACB;
}
.disclamer{
    font-size:10px;
    color:gray;
}
