<!DOCTYPE html>
<head>
    <!--NOTE:Implement it so API supplies all info based name based on the search and can update have app route based on the name supplied-->
    <Title> Poké Peek</Title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <script src="{{ url_for('static', filename='code.js')}}"></script>
</head>
<body>
    <h1> Poké Peek </h1>
    <form action = "http://localhost:5000/pokemon" method="POST">
        <p><input type = 'text' id = 'search_pokemon' placeholder = "Search for a Pokémon"> 
        <img src = 'https://cdn-icons-png.flaticon.com/128/151/151773.png' id = 'search_icon' onclick = "grab_pokemon_name()"></p>
    </form>
    <div class="d-flex flex-row">
        <div class="p-2">     
            <h3 class = "label" id = 'pokemon_name' name = 'pokemon_name'>{{data[0].capitalize()}}</h3> <!-- Do this by form action and get with maybe a dict filled with ALL the info we need-->
            <img src = {{data[4]}} class = "box" id = sprite><!-- Replace with get_sprite()-->
            <div id = 'type_info'></div>
            <p class = "inline"><b>Types: </b>
            <p class = "inline pokemon_type" id = {{data[1][0].capitalize()}}>{{data[1][0].capitalize()}}</p>
            {% if data[1]|length > 1: %}
            <p class = "inline pokemon_type" id = {{data[1][1].capitalize()}}>{{data[1][1].capitalize()}}</p>
            {% endif %}
            <script>create_types()</script>
            <img src = 'https://cdn-icons-png.flaticon.com/128/471/471664.png' class = "inline more_info_icon" onclick = "unhide('type_description')"></p>
            <div id = 'type_description'>
                <p class = 'type_item'><b>x2 dmg from: </b>bug,fire,flying,ice, and poison moves</p>
                <p class = 'type_item'><b>x1/2 dmg from: </b>electric,grass, and water moves</p>
            </div>
        </div>
        <div class="p-2 stats_full">
            <h5 class = "label">Stats</h5>
            <div class="box" id = "stats">
                <p>&nbsp &nbsp &nbsp<b>HP:</b> {{data[2][0]}}</p>
                <p>&nbsp &nbsp &nbsp<b>Atk:</b> {{data[2][1]}}</p>
                <p>&nbsp &nbsp &nbsp<b>Def:</b> {{data[2][2]}}</p>
                <p>&nbsp &nbsp &nbsp<b>Sp Atk:</b> {{data[2][3]}}</p>
                <p>&nbsp &nbsp &nbsp<b>Sp Def:</b> {{data[2][4]}}</p>
                <p>&nbsp &nbsp &nbsp<b>Speed:</b> {{data[2][5]}}</p>
            </div>
            <h5 class = "label">Abilities</h5>
            <center><p>Overgrow <img src = 'https://cdn-icons-png.flaticon.com/128/471/471664.png' class = "more_info_icon"></p></center>
            <center><p>Chlorophyll<img src = 'https://cdn-icons-png.flaticon.com/128/471/471664.png' class = "more_info_icon"></p></center>
        </div>
        <div id = "divide"></div>
        <div class = "p-2 moves_full">
            <h5 class = "label">Moves</h5>
            <div class = 'box' id ="scrollbox">
                <script>create_sliding_list()</script>
                <p onclick = "show_move()">Razorleaf</p>
                <p onclick = show_move()>Razorleaf</p>
                <p onclick = show_move()>Razorleaf</p>
                <p onclick = show_move()>Razorleaf</p>
                <p onclick = show_move()>Razorleaf</p>
                <p onclick = show_move()>Razorleaf</p>
                <p onclick = show_move()>Razorleaf</p>
            </div>
        </div>
        <div class="p-2" id = "move_section">
                <h5 class = "label" id = "move_label">Move Name</h5>
                <center><p class = "box" id = "move_info">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum</p></center>
                <center><p id = 'move_stats'><b>Accuracy:</b> 95%
                <b>Power:</b> 55
                <b>PP:</b> 25</p></center>
                <center><p class = "inline"><b>Type: </b>
                <p class = "inline pokemon_type" id = "move_type">Type</p></center><img src = 'https://cdn-icons-png.flaticon.com/128/471/471664.png' class = "inline more_info_icon" onclick = "unhide('move_type_description')"></p></center>
                <script>get_move_type()</script>
                <div id = 'move_type_description'>
                    <p class = 'type_item'><b>x2 dmg to: </b>electric,grass, and water pokemon</p>
                    <p class = 'type_item'><b>x1/2 dmg to: </b>bug,fire,flying,ice,and poison pokemon </p>
                </div>
        </div>

    </div>
    <p class = 'disclamer'>FAIR-USE COPYRIGHT DISCLAIMER Copyright Disclaimer under section 107 of the Copyright Act of 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research.
        Fair use is a use permitted by copyright statute that might otherwise be infringing.</p>
        <p><a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Chanut - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by Freepik - Flaticon</a></p>
    </body>
</DOCTYPE>