<!DOCTYPE html>
<head>
    <!--NOTE:Implement it so API supplies all info based name based on the search and can update have app route based on the name supplied-->
    <Title> Poké Peek</Title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='code.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $(".hidden").hide();
      });

    </script>
</head>
<body>
    <h1> Poké Peek </h1>
    <form action = "http://localhost:5000/search" method = "POST"> 
        <p><input type = 'text' id = 'search_pokemon' name = 'search' style = "width:26%; border-radius:6px;" placeholder = "Search for a Pokémon"> 
        <img src = 'https://cdn-icons-png.flaticon.com/128/151/151773.png' id = 'search_icon' style = "width : 25px; height : 25px" onclick = "grab_pokemon_name()"></p>
    </form>
    <div class="d-flex flex-row" style = "width : 240px;">
        <div class="p-2">     
            <h3 class = "label" id = 'pokemon_name' name = 'pokemon_name'>{{data[0].title()}}</h3> 
            <img src = {{data[1]}} class = "box" id = sprite>
            <div style = "margin-top:1%;"></div>
            <p class = "inline"><b>Types: </b>
            {% for type in data[2][0]%}
                <p class = "inline pokemon_type {{data[2][0][loop.index0].capitalize()}}">{{data[2][0][loop.index0].title()}}</p>
            {% endfor %}
            <img src = 'https://cdn-icons-png.flaticon.com/128/471/471664.png' id = "types-button" class = "more_info_icon" onclick = "unhide('#type_info')">
            <div id = "type_info" style = "font-size:10px;" class = hidden> 
                {% set no = data[2][1]|string %}
                {% set quarter = data[2][2]|string %}
                {% set half = data[2][3]|string %}
                {% set double = data[2][4]|string %}
                {% set quad = data[2][5]|string %}
                {%set no = no|replace("[",'') | replace("]",'')%}
                {%set quarter = quarter|replace("[",'') | replace("]",'')|replace("'",'') %}
                {%set quad = quad|replace("[",'') | replace("]",'')|replace("'",'') %}
                {% if no|length %}
                    <p><b  style = "font-size:10px"> No Damage From: </b>{{no}}</p>
                {% endif %}
                {% if quarter|length %}
                <p><b  style = "font-size:10px"> x1/4 Damage From: </b>{{quarter}}</p>
                {% endif %}
                <p><b  style = "font-size:10px"> x1/2 Damage From: </b>{{half|replace("[",'') | replace("]",'')|replace("'",'')}}</p>
                <p><b  style = "font-size:10px"> x2 Damage From: </b>{{ double|replace("[",'') | replace("]",'')|replace("'",'')}}</p>
                {% if quad|length %}
                <p><b  style = "font-size:10px"> x4 Damage From: </b>{{quad}}</p>
                {% endif %}
                
            </div>
        </div>
        <div class="p-2">    
            <h5 class = "label">Stats</h5>
            <div class="box" id = "stats">
                    <!-- Avg HP: 75, Avg Def: 70, Avg Sp Atk: 69, Sp Def: 69 Avg Spd: 66-->
                    <p>&nbsp &nbsp &nbsp<b>HP:</b> {{data[3][0]}}</p>
                    <p>&nbsp &nbsp &nbsp<b>Atk:</b> {{data[3][1]}}</p>
                    <p>&nbsp &nbsp &nbsp<b>Def:</b> {{data[3][2]}}</p>
                    <p>&nbsp &nbsp &nbsp<b>Sp Atk:</b> {{data[3][3]}}</p>
                    <p>&nbsp &nbsp &nbsp<b>Sp Def:</b> {{data[3][4]}}</p>
                    <p>&nbsp &nbsp &nbsp<b>Speed:</b> {{data[3][5]}}</p>
                </div>
                <div id = "abilities">
                    <center><p><b>Abilities: </b></center>
                        {% set ability_names = data[4].keys() | list %}
                        {% set ability_desc = data[4].values() | list %}
                        {% for abilility in data[4]%}
                            <p id = "{{ability_names[loop.index0].title()}}" style = "width: 400px">{{ability_names[loop.index0].title()}} <img src = 'https://cdn-icons-png.flaticon.com/128/471/471664.png' id = "{{ability_names[loop.index0].title()}}-Button" class = "more_info_icon" onclick = "unhide('#{{ability_names[loop.index0].title()}}-Info')">
                            <p id = "{{ability_names[loop.index0].title()}}-Info" class = "hidden" style = "font-size:10px">{{ability_desc[loop.index0]}}</p>
                        {% endfor %}
                    </div>
            </div> 
            <div class = "p-2" id = "divide"></div> 
        <div class = "p-2 moves_full">
            <h5 class = "label">Moves</h5> 
            <div class = "box scrollbox">
                {% set move_data= [] %}
                {% for move in data[5]%}
                    <form action = http://localhost:5000/move_info name = move_name method = "POST">
                        <input type = "hidden" name = "pokemon_name" value = {{data[0].title()}}>
                        <p id = {{move.title()}} name = "move_name" value = {{move.title()}} on_click = "create_move()">{{move.title()}}</p>
                    </form>
                {% endfor %} 
            </div>
        </div>
        <div class= "p-2" id = "move_info" style = "visibility:hidden; width: 500px"> 
        </div>
    </div>
    <p class = 'disclamer'>FAIR-USE COPYRIGHT DISCLAIMER Copyright Disclaimer under section 107 of the Copyright Act of 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research.
        Fair use is a use permitted by copyright statute that might otherwise be infringing.</p>
        <p><a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Chanut - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by Freepik - Flaticon</a></p>
        <p> Pokemon icons are from assets.pokemon.com </p>
    </body>
</DOCTYPE>